{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div id="profile">
    <h1>Mon profil</h1>

    <p>Login : {{ app.user.login }}</p>
    <p>Email : {{ app.user.email }}</p>
    {% if is_granted('ROLE_ADMIN') %}
    <p>Statut utilisateur : Administrateur</p>
    {% else %}
    <p>Statut utilisateur : Utilisateur standard</p>
    {% endif %}
</div>
{% endblock %}
