{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div id="homeContent">
    <h1>Bienvenue sur le projet "Challenge de Jérémy"</h1>
    <p>Installez vous confortablement.</p>
    <p>Cliquez sur la puce informatique pour revenir à l'accueil à tout moment.</p>
    <p>Le site se compose de deux utilisateurs :</p>
    <ul>
        <li>Admin : email : <span class="blueColor">mj@fake.com</span> password : <span class="blueColor">123456</span></li>
        <li>Utilisateur : email : <span class="blueColor">lm@fake.com</span> password : <span class="blueColor">123456</span></li>
    </ul>
    <p>N'hesitez pas à en créer d'autres par le le biais de l'interface "ADMINISTRATEUR"</p>
</div>
{% endblock %}
